<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebATV - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>WebATV</h1>
    <hr>
    <div class="flexcontainer">
        <div>
            <h2>Start A Scan</h2>
            <p>Scan for nearby Apple TVs and AirPlay devices.</p>
            <a>Start Scan</a>
        </div>
    </div>
</body>
</html>